{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    <a class="page-prev" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">&larr; Newer</a>
  {% else %}
    <span class="disabled">&larr; Newer</span>
  {% endif %}

  <span class="page-count">{{ paginator.page }} / {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a class="page-next" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Older &rarr;</a>
  {% else %}
    <span class="disabled">Older &rarr;</span>
  {% endif %}
</nav>
{% endif %}
