---
---

$sidebar-bg-color: #fff;
$sidebar-fg-color: #4b3832;
$sidebar-title-color: #4b3832;
$sidebar-text-color: rgba($sidebar-title-color,1.0);
$sidebar-link-color: #4b3832;

$link-color: #96ceb4;
$body-bg: #4b3832;
$body-muted: #dfe3ee;
$body-color: #fff4e6;
$heading-color: #ffcc5c;
$code-color: #96ceb4;
@import "hydeout";
