---
---

$sidebar-bg-color: #e0e0e0;
$sidebar-fg-color: #303030;
$sidebar-title-color: #333333;
$sidebar-text-color: rgba($sidebar-title-color,1.0);
$sidebar-link-color: rgba(255,255,255,0.6);

$link-color: #fff;
$body-bg: #303030;
$body-muted: #fff;
$body-color: #fff;
$heading-color: #268bd2;
$code-color: #fa4f4a;
@import "hydeout";
