---
layout: default
---

<div class="post-list">
  {{ content }}

  {% for post in paginator.posts %}
  <article class="post-item">
    <h2 class="post-item-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>

    {% include post-meta.html post=post %}

    <div class="post-item-excerpt">
      {% if post.excerpt %}
        {{ post.excerpt }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 45 }}
      {% endif %}
    </div>

    <a class="read-more" href="{{ site.baseurl }}{{ post.url }}">Read &rarr;</a>
  </article>
  {% endfor %}

  {% include pagination.html %}
</div>
